<%- include('../../index.html') %>

<div class="content">
    <div class="star-wars-container">
        <div class="star-wars-text">
            Bienvenue dans l'univers de Star Wars : Galaxy of Heroes !
        </div>
    </div>
    <div class="row">
        <div class="col-md-2">
            <h4>Grande Arène</h4>
        </div>
        <div class="col-md-1"></div>
        <div class="col-md-2">
            <h4>Mon profil</h4>
        </div>
        <div class="col-md-1"></div>
        <div class="col-md-2">
            <h4>Mes persos</h4>
        </div>
        <div class="col-md-1"></div>
        <div class="col-md-2">
            <h4>Mes vaisseaux</h4>
        </div>
    </div>
    <div class="row">
        <a href="" id="gac" class="col-md-2"></a>
        <div class="col-md-1"></div>
        <a href="" id="my_profile" class="col-md-2"></a>
        <div class="col-md-1"></div>
        <a href="/player/profile_characters" id="profile_characters" class="col-md-2"></a>
        <div class="col-md-1"></div>
        <a href="/player/profile_ships" id="profile_ships" class="col-md-2"></a>
    </div>
</div>